@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@500&family=Outfit:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2em;
  background-image: url(../images/bg.jpg);
  background-size: 100%;
}

header img {
  width: 15%;
}

#container {
  margin: 30px 160px;
}

form label {
  color: white;
}

button {
    background-color: grey;
    font-size: 1.8em;
    padding: 15px 60px ;
    
}
button a {
    text-decoration: none;
    color:#0B113B;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
}

button:checked {
    background-color: #54EFFF;
    -webkit-box-shadow: 5px 0px 36px 6px #54EFFF; 
    box-shadow: 5px 0px 36px 6px #54EFFF;
}